camel-esb/src/main/resources/client.xsd

<!-- client.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://soa/client"
           xmlns:tns="http://soa/client">

    <xs:element name="getClientRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClientResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id"    type="xs:string"/>
                <xs:element name="name"   type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>